<div *ngIf="loading">loading...</div>
<table class="table" *ngIf="!loading">
  <thead>
    <tr>
      <th>#</th>
      <th>Tên</th>
      <th>Giá</th>
      <th>Ảnh</th>
      <th>Hành động</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i = index">
      <td style="vertical-align: middle">{{ i + 1 }}</td>
      <td style="vertical-align: middle">{{ product.name }}</td>
      <td style="vertical-align: middle">
        {{ product.price | currency: "VND" }}
      </td>
      <td style="vertical-align: middle">
        <img
          src="{{ product.images[0] }}"
          alt=""
          style="width: 50px; object-fit: cover"
        />
      </td>

      <td>
        <button routerLink="{{ product.id }}" class="me-3 btn btn-success">
          Chi tiết
        </button>
        <button routerLink="edit/{{ product.id }}" class="btn btn-warning me-3">
          Sửa
        </button>
        <button class="btn btn-danger" (click)="removeProduct(product.id)">
          Xoá
        </button>
      </td>
    </tr>
  </tbody>
</table>
