<nz-table #nzTable [nzData]="listProduct" nzTableLayout="fixed">
  <thead>
    <tr>
      <th nzWidth="100px"></th>
      <th>Tên</th>
      <th>Giá</th>
      <th>Ảnh</th>
      <th>Hành động</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of nzTable.data">
      <tr>
        <td
          [nzExpand]="expandSet.has(data.id)"
          (nzExpandChange)="onExpandChange(data.id, $event)"
        ></td>
        <td>{{ data.name }}</td>
        <td>{{ data.price | currency: "VND" }}</td>
        <td>
          <img
            src="{{ data.images[0] }}"
            style="margin-right: 10px"
            alt=""
            width="50"
            height="50"
          />
          <img src="{{ data.images[1] }}" alt="" width="50" height="50" />
        </td>

        <td>
          <button
            nzType="dashed"
            nz-button
            style="margin-right: 10px"
            routerLink="/admin/product/edit/{{ data.id }}"
          >
            Sửa
          </button>
          <button
            nzType="primary"
            nz-button
            nz-popconfirm
            nzPopconfirmTitle="Bạn có muốn xoá sản phẩm này không ?"
            (nzOnConfirm)="confirm(data.id)"
            (nzOnCancel)="cancel()"
            nzPopconfirmPlacement="topRight"
          >
            Xoá
          </button>
        </td>
      </tr>
      <tr [nzExpand]="expandSet.has(data.id)">
        <span>{{ data.desc }}</span>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
