<footer>
  <div class="mx-auto text-center py-[52px] max-w-[calc(100%-50px)] container">
    <div class="mx-auto w-fit flex my-[25px]">
      <img
        class="w-[30px] h-[30px] mr-[30px]"
        src="../../../assets/images/fb.png"
        alt=""
      />
      <img
        class="w-[30px] h-[30px] mr-[30px]"
        src="../../../assets/images/insta.png"
        alt=""
      />
      <img
        class="w-[30px] h-[30px] mr-[30px]"
        src="../../../assets/images/twitter.png"
        alt=""
      />
      <img
        class="w-[30px] h-[30px] mr-[30px]"
        src="../../../assets/images/linkedin.png"
        alt=""
      />
    </div>
    <p>Copyright ©2020 All rights reserved</p>
  </div>
</footer>
