{{ data }}
<div class="form-group">
  <label for="name">Tên</label>
  <input type="text" [(ngModel)]="name" class="form-control" id="name" />
</div>
<div class="form-group">
  <label for="price">Giá</label>
  <input type="text" [(ngModel)]="price" class="form-control" />
</div>
<button class="btn btn-success mt-4" (click)="handleAdd()">Thêm</button>
<button class="btn btn-success mt-4 ms-4" (click)="handleEdit()">Sửa</button>
<br />
<button
  type="submit"
  *ngIf="isShow"
  class="mt-3 btn btn-primary"
  (click)="setShow()"
>
  Ẩn
</button>
<button
  type="submit"
  *ngIf="!isShow"
  class="mt-3 btn btn-primary"
  (click)="setShow()"
>
  Hiện
</button>
<table class="table" *ngIf="isShow">
  <thead>
    <tr>
      <th>#</th>
      <th>Tên</th>
      <th>Giá</th>
      <th>Ảnh</th>
      <th>Trạng thái</th>
      <th>Hành động</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i = index">
      <td style="vertical-align: middle">{{ i + 1 }}</td>
      <td style="vertical-align: middle">{{ product.name }}</td>
      <td style="vertical-align: middle">{{ product.price }}</td>
      <td style="vertical-align: middle">
        <img src="{{ product.img }}" alt="" />
      </td>
      <td style="vertical-align: middle">
        {{ product.status ? "Còn hàng" : "Hết hàng" }}
      </td>
      <td style="vertical-align: middle">
        <button class="btn btn-primary me-3" (click)="setValueEdit(product.id)">
          Sửa
        </button>
        <button (click)="handleRemove(product.id)" class="btn btn-danger">
          Xoá
        </button>
      </td>
    </tr>
  </tbody>
</table>
