<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a routerLink="" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>Quản trị</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li
        nz-menu-item
        routerLink="/admin/profile"
        nz-tooltip
        nzTitle="Navigation One"
        nzSelected
      >
        <i nz-icon nzType="user"></i>
        <span>Giới thiệu</span>
      </li>
      <li nz-submenu nzTitle="Danh mục bài viết" nzIcon="folder">
        <ul>
          <li nz-menu-item>
            <a routerLink="/admin/cate_blog">Quản lý danh mục</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/admin/cate_blog/add">Thêm mới</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Bài viết" nzIcon="book">
        <ul>
          <li nz-menu-item>
            <a routerLink="/admin/blog">Quản lý bài viết</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/admin/blog/add">Thêm mới</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Danh mục dự án" nzIcon="folder">
        <ul>
          <li nz-menu-item>
            <a routerLink="/admin/cate_project">Quản lý danh mục</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/admin/cate_project/add">Thêm mới</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Dự án" nzIcon="credit-card">
        <ul>
          <li nz-menu-item>
            <a routerLink="/admin/project">Quản lý dự án</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/admin/project/add">Thêm mới</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
