<section>
  <div class="container mx-auto px-[18px] xl:px-[235px]">
    <h2 class="text-[30px] lg:text-[44px] font-bold py-[25px] lg:py-[23px]">
      Blog
    </h2>
    <div class="border-b-2 border-[#E0E0E0] pb-[25px] mt-[20px]">
      <h3 class="text-[26px] lg:text-[30px] font-medium">
        UI Interactions of the week
      </h3>
      <p class="py-[10px]">
        <span class="pr-[15px] border-r-2 border-black py-0">12 Feb 2019</span>
        <span class="text-[#8695A4] pl-[15px]">
          <a href="">Express, Handlebars</a>
        </span>
      </p>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="border-b-2 border-[#E0E0E0] pb-[25px] mt-[20px]">
      <h3 class="text-[26px] lg:text-[30px] font-medium">
        UI Interactions of the week
      </h3>
      <p class="py-[10px]">
        <span class="pr-[15px] border-r-2 border-black py-0">12 Feb 2019</span>
        <span class="text-[#8695A4] pl-[15px]">
          <a href="">Express, Handlebars</a>
        </span>
      </p>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="border-b-2 border-[#E0E0E0] pb-[25px] mt-[20px]">
      <h3 class="text-[26px] lg:text-[30px] font-medium">
        UI Interactions of the week
      </h3>
      <p class="py-[10px]">
        <span class="pr-[15px] border-r-2 border-black py-0">12 Feb 2019</span>
        <span class="text-[#8695A4] pl-[15px]">
          <a href="">Express, Handlebars</a>
        </span>
      </p>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="border-b-2 border-[#E0E0E0] pb-[25px] mt-[20px]">
      <h3 class="text-[26px] lg:text-[30px] font-medium">
        UI Interactions of the week
      </h3>
      <p class="py-[10px]">
        <span class="pr-[15px] border-r-2 border-black py-0">12 Feb 2019</span>
        <span class="text-[#8695A4] pl-[15px]">
          <a href="">Express, Handlebars</a>
        </span>
      </p>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
  </div>
</section>
