<section>
  <div class="container mx-auto px-[18px] xl:px-[235px]">
    <h2 class="text-[30px] lg:text-[44px] font-bold py-[25px] lg:py-[23px]">
      Work
    </h2>
    <div
      class="sm:grid sm:grid-cols-[246px,auto] gap-[17px] p-[10px] lg:pb-[49px] mb-[32px] border-b-2 border-[#E0E0E0]"
    >
      <div>
        <img
          class="sm:w-[246px] sm:h-[180px] w-[100%] object-contain"
          src="../../../assets/images//Rectangle 30.png"
          alt=""
        />
      </div>
      <div>
        <h2
          class="text-[22px] my-[10px] sm:my-0 lg:text-[30px] font-bold leading-44px"
        >
          <a routerLink="/detailwork">Designing Dashboards</a>
        </h2>
        <div class="grid grid-cols-[62px,auto] items-center gap-[27px]">
          <p
            class="leading-[26px] my-[10px] lg:my-[20px] font-bold bg-[#142850] text-[18px] text-white max-h-[25px] w-fit px-[10.5px] rounded-[16px]"
          >
            2020
          </p>
          <p class="text-[#8695A4]">Dashboard</p>
        </div>
        <p class="text-[16px] pt-[2px]">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>
    <div
      class="sm:grid sm:grid-cols-[246px,auto] gap-[17px] p-[10px] lg:pb-[49px] mb-[32px] border-b-2 border-[#E0E0E0]"
    >
      <div>
        <img
          class="sm:w-[246px] sm:h-[180px] w-[100%] object-contain"
          src="../../../assets/images//Rectangle 32.png"
          alt=""
        />
      </div>
      <div>
        <h2
          class="text-[22px] my-[10px] sm:my-0 lg:text-[30px] font-bold leading-44px"
        >
          <a routerLink="/detailwork">Vibrant Portraits of 2020</a>
        </h2>
        <div class="grid grid-cols-[62px,auto] items-center gap-[27px]">
          <p
            class="leading-[26px] my-[20px] font-bold bg-[#142850] text-[18px] text-white max-h-[25px] w-fit px-[10.5px] rounded-[16px]"
          >
            2018
          </p>
          <p class="text-[#8695A4]">Illustration</p>
        </div>
        <p class="text-[16px] pt-[2px]">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>
    <div
      class="sm:grid sm:grid-cols-[246px,auto] gap-[17px] p-[10px] lg:pb-[49px] mb-[32px] border-b-2 border-[#E0E0E0]"
    >
      <div>
        <img
          class="sm:w-[246px] sm:h-[180px] w-[100%] object-contain"
          src="../../../assets/images//Rectangle 34.jpg"
          alt=""
        />
      </div>
      <div>
        <h2
          class="text-[22px] my-[10px] sm:my-0 lg:text-[30px] font-bold leading-44px"
        >
          <a routerLink="/detailwork">36 Days of Malayalam type</a>
        </h2>
        <div class="grid grid-cols-[62px,auto] items-center gap-[27px]">
          <p
            class="leading-[26px] my-[20px] font-bold bg-[#142850] text-[18px] text-white max-h-[25px] w-fit px-[10.5px] rounded-[16px]"
          >
            2018
          </p>
          <p class="text-[#8695A4]">Typography</p>
        </div>
        <p class="text-[16px] pt-[2px]">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>
  </div>
</section>
