<h2 style="width: fit-content; margin: 30px auto">Đăng nhập</h2>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Email</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
      <input
        nz-input
        formControlName="email"
        placeholder="Địa chỉ email"
        type="email"
      />
      <ng-template #emailErrorTpl let-control>
        <ng-container *ngIf="control.hasError('email')"
          >Định dạng Email không hợp lệ!</ng-container
        >
        <ng-container *ngIf="control.hasError('required')"
          >Vui lòng nhập địa chỉ Email!</ng-container
        >
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Mật khẩu</nz-form-label>
    <nz-form-control
      [nzSpan]="12"
      nzHasFeedback
      nzErrorTip="Mật khẩu tối thiểu 6 ký tự"
    >
      <input
        nz-input
        type="password"
        placeholder="Nhập mật khẩu"
        minlength="6"
        formControlName="password"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">
        Đăng nhập
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
