<nz-table #nestedTable [nzData]="category" [nzPageSize]="10">
  <thead>
    <tr>
      <th></th>
      <th>Tên</th>
      <th>Hành động</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="nestedTable.data">
      <tr>
        <td [(nzExpand)]="data.expand"></td>
        <td>{{ data.name }}</td>
        <td>
          <button
            nz-button
            *ngIf="isProject"
            nzType="dashed"
            class="mr-3"
            routerLink="/admin/cate_project/{{ data.id }}/edit"
          >
            Chỉnh sửa
          </button>
          <button
            nz-button
            *ngIf="isBlog"
            nzType="dashed"
            class="mr-3"
            routerLink="/admin/cate_blog/{{ data.id }}/edit"
          >
            Chỉnh sửa
          </button>
          <button
            nz-popconfirm
            nzPopconfirmTitle="Bạn có muốn xoá không ?"
            (nzOnConfirm)="confirm(data.id)"
            nzPopconfirmPlacement="topRight"
            nz-button
            nzType="primary"
          >
            Xoá
          </button>
        </td>
      </tr>
      <tr [nzExpand]="data.expand">
        <nz-table
          #innerTable
          [nzData]="listOfCategory[data.key]"
          nzSize="middle"
          [nzShowPagination]="false"
        >
          <thead>
            <tr>
              <th>#</th>
              <th>Tên</th>
              <th>Ảnh</th>
              <th>Mô tả</th>
              <th>Thời gian</th>
              <th>Cập nhật lần cuối</th>
              <th>Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of innerTable.data">
              <td>
                {{ data.key + 1 }}
              </td>
              <td>{{ data.name }}</td>
              <td>{{ data.name }}</td>
              <td>{{ data.intro }}</td>
              <td></td>
              <!-- <td>
                <nz-badge
                  [nzStatus]="'success'"
                  [nzText]="'Finished'"
                ></nz-badge>
              </td> -->
              <td>{{ data.upgradeNum }}</td>
              <td>
                <span class="table-operation">
                  <a nz-dropdown class="operation" [nzDropdownMenu]="menu">
                    Pause
                    <i nz-icon nzType="down"></i>
                  </a>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                      <li nz-menu-item>
                        <a>Action 1</a>
                      </li>
                      <li nz-menu-item>
                        <a>Action 2</a>
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a class="operation">Stop</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a>More</a>
                </span>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </tr>
    </ng-template>
  </tbody>
</nz-table>
