<section
  class="intro flex flex-col-reverse justify-between items-center py-[20px] lg:flex-row gap-[30px] lg:gap-[10px] max-w-[858px] mx-auto lg:py-[100px]"
>
  <div class="text-center lg:text-left lg:max-w-[497px]">
    <span
      class="text-[32px] lg:text-[44px] font-bold leading-[40px] lg:leading-[60px] md:text-center"
    >
      Hi, I am {{ profile.name }},<br />
      {{ profile.position }}
    </span>
    <p class="text-[16px] py-[38px]">
      {{ profile.about }}
    </p>
    <button
      (click)="open()"
      class="bg-[#FF6464] text-[20px] text-white w-[208px] h-[47px] rounded-md"
    >
      Download CV
    </button>
  </div>
  <div>
    <img
      class="w-[170px] h-[170px] lg:h-[243px] lg:w-[243px]"
      src="../../../assets/images//Ellipse 1.png"
      alt=""
    />
  </div>
</section>
<section class="recent-post">
  <div class="container bg-[#EDF7FA] pt-[30px] pb-[50px] mx-auto">
    <div
      class="flex justify-between px-[unset] md:px-[20px] max-w-[858px] mx-auto pb-[20px]"
    >
      <p class="text-[#21243D] w-fit md:mx-[unset] mx-auto">Recent posts</p>
      <p>
        <a routerLink="blog" class="hidden md:block text-[#00A8CC]">View all</a>
      </p>
    </div>
    <div
      class="flex flex-wrap lg:flex-nowrap justify-between lg:max-w-[858px] mx-auto gap-[22px]"
    >
      <div class="bg-white rounded-xl p-[30px]" *ngFor="let data of blog">
        <h2 class="text-[22px] lg:text-[26px] font-bold">
          {{ data?.name }}
        </h2>
        <p class="text-[16px] py-[19px] lg:text-[18px]">
          <span class="pr-[30px] border-r-2 border-black">
            {{ data.createdAt }}
          </span>
          <span class="pl-[30px]">
            <a routerLink="">{{ data.categoryPost.name }}</a>
          </span>
        </p>
        <p>
          {{ data.desc }}
        </p>
      </div>
    </div>
  </div>
</section>
<section class="feat-works max-w-[calc(100%-36px)] lg:w-[858px] mx-auto">
  <p class="h-[60px] leading-[60px] w-fit lg:w-[unset] mx-auto">
    Featured works
  </p>
  <div
    *ngFor="let data of project"
    class="sm:grid sm:grid-cols-[246px,auto] gap-[17px] pb-[9px] mb-[32px] border-b-2 border-[#E0E0E0]"
  >
    <div>
      <img
        class="sm:w-[246px] sm:h-[180px] w-[100%] object-contain"
        src="{{ data.images[0] }}"
        alt=""
      />
    </div>
    <div>
      <h2
        class="text-[22px] my-[10px] sm:my-0 lg:text-[30px] font-bold leading-44px"
      >
        <a routerLink="/detailwork/{{ data.id }}">{{ data.name }}</a>
      </h2>
      <div class="grid grid-cols-[62px,auto] items-center gap-[27px]">
        <p
          class="leading-[26px] my-[10px] lg:my-[20px] font-bold bg-[#142850] text-[18px] text-white max-h-[25px] w-fit px-[10.5px] rounded-[16px]"
        >
          2022
        </p>
        <p class="text-[#8695A4]">{{ data.categoryProject.name }}</p>
      </div>
      <p class="text-[16px] pt-[2px]">
        {{ data.desc }}
      </p>
    </div>
  </div>
</section>
